{% extends 'base.html' %}
{% block  title %}BookShop - проводник в гавань новых миров{% endblock  %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for obj in object_list %}
                {% if  forloop.first%}
                    <li data-target="#myCarousel" data-slide-to="{{forloop.count}}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{forloop.count}}"></li>   
                {% endif %}               
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for obj in object_list %}
                {% if  forloop.first%}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">      
                {% endif %}
                        {% if obj.image %}
                            <a href="{{obj.link}}"><img class="bd-placeholder-img" width="100%" height="100%" src="{{obj.image.url}}" max-height="80%"></a>
                        {% else %}
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                        {% endif %}
                        <div class="container">
                            <div class="carousel-caption text-left">
                                <h1>{{obj.name}}</h1>
                                <p>{{obj.text}}</p>
                                <p><a class="btn btn-lg btn-primary" href="{{obj.link}}" role="button">{{obj.button}}</a></p>                     
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for  market in marketing_list  %}
            <div class="col-lg-4">
                <img src="{{market.image.url}}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2>{{market.name}}</h2>
                <p>{{market.text}}</p>
                <p><a class="btn btn-secondary" href="{{market.link}}" role="button">{{market.button}}</a></p>
            </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    {% for feature in  features_list%}
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{feature.name}} <span class="text-muted">{{feature.text_muted}}</span></h2>
                <p class="lead">{{feature.text}}</p>
            </div>
            <div class="col-md-5">
                <a href="{{feature.link}}"><img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{feature.image.url}}"></a>
            </div>
        </div>
    {% endfor %}

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock  %}