{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block  title %}JОбновить аккаунт{% endblock  %}
{% block content %}
<div class="container">
    <br>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Обновить аккаунт" class="btn btn-success">
    </form>
    <br>
    <p><a href="{% url 'account:change_password' %}" class="btn btn-danger">Сменить пароль</a></p>
    <br>
    <p><a href="/" class="btn btn-secondary">На главную</a></p>

</div>
{% endblock  %}