{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block  title %}Войти{% endblock  %}
{% block content %}
<div class="container">
<p></p>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Войдите, чтобы увидеть страницу.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'account:login' %}">
{% csrf_token %}
{{form|crispy}}
<input type="submit" value="Войти" class="btn btn-success">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'account:password_reset' %}">Lost password?</a></p>#}
<p><a href="{% url 'account:create' %}">Зарегистрироваться</a></p>
</div>
{% endblock  %}