{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block  title %}Сброс пароля{% endblock  %}
{% block content %}
<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
        {% if validlink %}
            <h1>Задайте пароль</h1>
            <form method='post' action=''>
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class='btn btn-block btn-info'>Сменить пароль</button>
            </form>
        {% else %}
            <p>{% trans "Ссылка на сброс пароля недействительна. Возможно она уже была использована. Пожалуйста запросите новую ссылку." %}</p>
        {% endif %}
      </div>
</div>
{% endblock  %}