{% extends 'base.html' %}
{% block  title %}Список книг{% endblock %}
{% block content %}
<div class ='container'>
<h1>Список книг</h1>
<a href="{% url 'book:create' %}"><button type="button" class="btn btn-success">Cоздать</button></a>
<table class= "table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Операции</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
            <tr>
                <td scope="row">{{obj.id}}</td>
                <td><a href="{% url 'book:detail' obj.pk %}">{{obj.name}}</a></td>
                <td><a href="{% url 'book:edit' obj.pk %}"><i class="fas fa-edit"></i> Редактировать</a><br> 
                    <a href="{% url 'book:delete' obj.pk %}"><i class="fas fa-trash-alt"></i> Удалить</a></td>
            </tr>
        {% empty %}
            <tr>Нет книг.</tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}