{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block  title %}{{ object }}{% endblock %}
{% block content %}
<div class='container'>
    <h1> {{ object }}</h1>
    <p><img src="{{object.image.url}}" style="max-width:30%" align="left" hspace=30>
    <p>{{object.description}} <p>
    <h4>Цена (BYN): {{object.price}}</h4><br>
    <h4>{% for author in object.authors.all %}{{ author }} {% endfor %}</h4>    
    <table>
        <tr>
            <td><strong>Серия: </strong></td>
            <td>{% for serie in object.series.all %}{{ serie }} {% endfor %}</td>
        </tr>
        <tr>
            <td><strong>Жанр: </strong></td>
            <td>{% for genre in object.genres.all %}{{ genre }} {% endfor %}</td>
        </tr>
        <tr>
            <td><strong>Год издания: </strong></td>
            <td>{{object.year}}</td>
        </tr>
        <tr>
            <td><strong>Количество страниц: </strong></td>
            <td>{{object.pages}}</td>
        </tr>
        <tr>
            <td><strong>Переплет: </strong></td>
            <td>{{object.binding}}</td>
        </tr>
        <tr>
            <td><strong>Формат: </strong></td>
            <td>{{object.format}}</td>
        </tr>
        <tr>
            <td><strong>ISBN: </strong></td>
            <td>{{object.isbn}}</td>
        </tr>
        <tr>
            <td><strong>Вес (гр): </strong></td><td>{{object.weight}}</td>
        </tr>
        <tr>
            <td><strong>Возрастные ограничения: </strong></td><td>{{object.age_rating}}</td>
        </tr>
        <tr>
            <td><strong>Издательство: </strong></td><td>{{object.publisher}}</td>
        </tr>
        <tr>
            <td><strong>Количество книг в наличии: </strong></td><td>{{object.quantity}}</td>
        </tr>
        <tr>
            <td><strong>Активный (доступен для заказа, Да/Нет): </strong></td><td>{{object.active}}</td>
        </tr>
        <tr>
            <td><strong>Рейтинг (0 - 10): </strong></td><td>{{object.rating}}</td>
        </tr>
        <tr>
            <td><strong>Дата создания: </strong></td><td>{{object.created}}</td>
        </tr>
        <tr>
            <td><strong>Дата изменения: </strong></td><td>{{object.modified}}</td>
        </tr>
    </table>
    <a href="{% url 'book:cards' %}" class="btn btn-success">Назад</a></p>
</div>
{% endblock %}