{% extends 'base.html' %}
{% block  title %}Книги{% endblock %}
{% block content %}
<div class ='container'>
    <h1>Все товары</h1>
    <div class="row" >
        {% for obj in object_list %}
            <div class="col" style="min-width:200px; max-width:33%" >
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="{{obj.image.url}}" alt="{{obj}} image cap" >
                        <div class="card-body">
                            <h5 class="card-title">{{obj}}</h5>
                            <p class="card-text">{{obj.description | slice:":200"}}...</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>
                                {% for author in obj.authors.all %}
                                    {{ author }}
                                {% endfor %}</strong></li>
                            <li class="list-group-item"><strong>
                                {% for genre in obj.genres.all %}
                                    {{ genre }}
                                {% endfor %}</strong></li>
                            <li class="list-group-item"><strong>{{obj.price}} р.</strong></li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'book:detail' obj.pk %}" class="card-link">Подробнее ...</a>
                            <!--<a href="#" class="card-link">Another link</a>-->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {# .... **Now the pagination section** .... #}
{% include 'paginator.html' %}
</div>
{% endblock %}
